<div class="introduction">
  <div class="introduction-text">
    <div class="mdl-typography--display-2 mdl-typography--font-light mdl-color-text--white">Welcome to the University
      Homepage</div>
    <p class="mdl-typography--headline mdl-typography--font-thin mdl-color-text--white">
      Built with Drupal and Angular by Manaus Transez
    </p>
    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent gh-button">
      <a class="mdl-typography--font-regular mdl-typography--text-uppercase gh-link" href="https://github.com/cms-development/labo-week-6-manatran"
        target="_blank">
        Github link&nbsp;<i class="material-icons">open_in_new</i>
      </a>
    </button>
  </div>
</div>

<section class="mdl-grid" style="justify-content:center;margin-top:32px;">

  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Courses</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="demo-list-two mdl-list">

        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            CMS Development
          </span>
          <span class="mdl-list__item-secondary-content">
            <a class="mdl-list__item-secondary-action" routerLink="/courses/id"><i class="material-icons">list_alt</i></a>
          </span>
        </li>

      </ul>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="/courses">All Courses</a>
    </div>
  </div>


  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Lecturers</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="demo-list-two mdl-list">

        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons  mdl-list__item-avatar">person</i>
            Frederick Roegiers
          </span>
          <span class="mdl-list__item-secondary-content">
            <a class="mdl-list__item-secondary-action" routerLink="/lecturers/id"><i class="material-icons">school</i></a>
          </span>
        </li>

      </ul>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="/lecturers">All
        Lecturers</a>
    </div>
  </div>


  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--3-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Students</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <ul class="demo-list-two mdl-list">

        <li class="mdl-list__item">
          <span class="mdl-list__item-primary-content">
            <i class="material-icons  mdl-list__item-avatar">person</i>
            Manaus Transez
          </span>
          <span class="mdl-list__item-secondary-content">
            <a class="mdl-list__item-secondary-action" routerLink="/students/id"><i class="material-icons">child_friendly</i></a>
          </span>
        </li>

      </ul>
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="/students">All Students</a>
    </div>
  </div>

</section>
