<section class="mdl-grid" style="justify-content:center;margin-top:64px;" *ngIf="student">

  <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--9-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Edit this Student</h2>
    </div>
    <div class="mdl-card__supporting-text">

      <form style="display:flex;flex-direction:column;">
        <mdl-textfield type="text" label="First Name" #firstname value={{student.attributes.field_first_name}}
          floating-label></mdl-textfield>
        <mdl-textfield type="text" label="Last Name" #name value={{student.attributes.name}} floating-label></mdl-textfield>

        <p *ngFor="let course of courses">
          <mdl-switch mdl-ripple>{{course.attributes.name}}</mdl-switch>
        </p>

        <p>
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" (click)="updateStudent(firstname, name)">
            Update
          </button>
        </p>
      </form>

    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="/students">All students</a>
    </div>
  </div>
  <script src="./../../../assets/mdl.js"></script>
</section>
